<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>659001630451-hv3jtbs1t24gve5glaodh3g0cgihd9ds.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.659001630451-hv3jtbs1t24gve5glaodh3g0cgihd9ds</string>
	<key>API_KEY</key>
	<string>AIzaSyDG2DqU1P0BOoFhKiR3T77qUSs-UdQVo5I</string>
	<key>GCM_SENDER_ID</key>
	<string>659001630451</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rafaelcollado.flashchat</string>
	<key>PROJECT_ID</key>
	<string>rafaelcolladojr-flash-chat</string>
	<key>STORAGE_BUCKET</key>
	<string>rafaelcolladojr-flash-chat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:659001630451:ios:84e5ac1fbb9447a4f96186</string>
</dict>
</plist>